<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table Sort</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
  </head>
  <body>
    <div class="container" ng-app="App" ng-controller="SortCtrl">
      <table>
        <tr>
          <th ng-click="sortBy('firstName')">First Name</th>
          <th ng-click="sortBy('lastName')">Last Name</th>
          <th ng-click="sortBy('viewCount')">Views</th>
          <th ng-click="sortBy('id')">ID Number</th>
        </tr>
        <tr ng-repeat="user in users">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.viewCount }}</td>
          <td>{{ user.id }}</td>
        </tr>
      </table>
    </div>
    <script src="main.js"></script>
  </body>
</html>